* {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#firstImage {
    background-size: contain;
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://miro.medium.com/max/960/1*PaZT9QBa-Dt9K9FE9-CkbA.jpeg");
    background-size: cover;
    background-position: center;
}

#githubicon {
  height: 15%;
  width: 15%;
}

#githubicon:hover {
  opacity: 0.3;
}

#linkicon {
  height: 10%;
  width: 10%;
  margin-left: 5%;
}

#linkicon:hover {
  opacity: 0.3;
}

#mailicon {
  height: 15%;
  width: 15%;
  margin-left: 5%;
  margin-top: 3%;
}

#mailicon:hover {
  opacity: 0.3;
}

#about-me{
  font-size: 500%;
}

.imgContainer {
    position: relative;
    text-align: center;
    color: white;
  }

  #centered {
    margin-top: 5%;
    background-color: transparent;
    font-size: 100px;
    text-align: center;
    font-variant-caps: small-caps;
    font-weight: bolder;
    width: 100%;
  }

  img#resumeid {
    width: 70%;
    height: 70%;
}

.card {
  margin: 5%;
  padding: 1%;
  border-radius: 10%;
}

#resumeText {
    font-size: 30px;
    font-variant-caps: all-petite-caps;
}

  nav li a {
      font-size: 30%;
  }

  nav {
    width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 5%;
  }

  nav li {
    padding-left: 1%;
    padding-right: 1%;
  }

  #homeTab {
    margin-left: 10%;
  }

  nav.nav.nav-tabs.navbar-black.bg-black {
    border: none;
}

  .nav-item {
    margin-bottom: 5%;
    border: none;
  }
  /*  */

  #profileimg {
    width: 20%;
    height: 20%;
    margin-top: 3%;
    margin-left: 5%;
    justify-content: center;
  }

  #profileText {
    margin: 3%;
    background-color: darkblue;
    padding: 3%;
  }

  Form {
    border-radius: 10px;
    padding: 10px;
  }
  