* {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#firstImage {
    background-size: contain;
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://miro.medium.com/max/960/1*PaZT9QBa-Dt9K9FE9-CkbA.jpeg");
    background-size: cover;
    background-position: center;
}

#githubicon {
  height: 15%;
  width: 15%;
}

#githubicon:hover {
  opacity: 0.3;
}

#about-me{
  font-size: 500%;
}

.imgContainer {
    position: relative;
    text-align: center;
    color: white;
  }

  #centered {
    position: relative;
    margin-top: 5%;
    left: 100%;
    transform: translate(-90%, -30%);
    background-color: transparent;
    font-size: 100px;
    text-align: center;
    font-variant-caps: small-caps;
    font-weight: bolder;
    width: 100%;
    margin-left: 0%;
  }

  img#resumeid {
    width: 70%;
    height: 70%;
}

.card {
  margin: 5%;
  padding: 1%;
  border-radius: 10%;
}

#resumeText {
    font-size: 30px;
    font-variant-caps: all-petite-caps;
}

  nav li a {
      font-size: 30%;
      margin-left: 3%;
  }

  nav {
    margin-left: -9.5%;
  }

  nav li {
    padding-left: 3%;
    padding-right: 3%;
  }

  #homeTab {
    margin-left: 6%;
  }

  /*  */